body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  color: #434455;
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration-line: none;
  margin-right: 76px;
}
.header-logo-part {
  color: #2e2f42;
}
.header-nav-list {
  color: #2e2f42;
  display: flex;
  gap: 40px;
}
.header-nav-item {
  font-weight: 500;
  line-height: 1.5;
}
.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
  text-decoration-line: none;
}
.studio-link {
  color: #404bbf;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.studio-link::after {
  content: "";
  background-color: #404bbf;
  width: 48px;
  height: 4px;
  border: 2px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.header-address-item {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.address-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main {
  background-color: #fff;
}
.section {
  padding: 120px 0;
}
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}

.order-button {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  line-height: 1.5;
  flex-basis: calc((100% - 72px) / 4);
}
.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.benefits-icon {
  fill: #2e2f42;
}
.benefits-item-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-item-text {
  color: #434455;
  line-height: 1.5;
}
.team-section {
  background: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-member {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-review-container {
  padding: 32px 0;
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-post {
  color: #434455;
  line-height: 1.5;
  text-align: center;
}
.team-contacts-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.team-contacts-list-item {
  width: 40px;
  height: 40px;
}
.team-contacts-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contacts-link:hover,
.team-contacts-link:focus {
  background-color: #404bbf;
}
.team-social-icon {
  fill: #f4f4fd;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.product-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.product-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.product-review {
  color: #434455;
  line-height: 1.5;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration-line: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-contacts-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.footer-contacts-list-item {
  width: 40px;
  height: 40px;
}
.footer-contacts-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-social-container {
}
.footer-contacts-list {
  margin-top: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
}
.modal {
  width: 408px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
.modal-close-button {
  padding: 0;

  border: none;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
}
.modal-close-button-icon {
}
.modal-close-button:hover,
.modal-close-button:focus {
  stroke: #fff;
  background-color: #404bbf;
}
